nonebot2==2.0.0a15
nonebot-adapter-cqhttp==2.0.0a15
nonebot-plugin-test==0.3.0
xdice==1.2.1
json-store==3.0
docopt==0.6.2
decorator==4.4.2
py7zr==0.17.2
ring==0.7.3
requests==2.25.1
pypinyin==0.40.0
zhon==1.1.5
pytimeparse==1.1.8
python-dateutil==2.8.2
